[alias]
	s = status
	pr = !"git fetch; git remote prune origin"
	l = log --graph --date=relative --pretty='format:%C(yellow)%h %C(dim white)%p %C(reset) %Cblue%>(12)%ad %Cgreen%<(7)%aN%C(auto)%d %Creset%s' --color=always
	b = branch
	ba = branch -a
	bl = branch -l
	del = branch -D
	c = checkout
	cb = checkout -b
	m = merge --no-ff
	p = !"git -c push.default=current push -u"
	u = pull
	f = fetch
	d = diff
	q = !"git add -A && git commit -m 'Quick commit'"

	# From https://blog.jez.io/cli-code-review/
	# List files changed against review base
	files = !git diff --name-only $(git merge-base HEAD \"$REVIEW_BASE\")
	# List files changed with line chnage info against review_base
	stat = !git diff --stat $(git merge-base HEAD \"$REVIEW_BASE\")

	# From or inspired by https://github.com/jessfraz/dotfiles/blob/master/.gitconfig
	ca = !"git add -A && git commit -av"
	amend = !"git add -A && git commit --amend --reuse-message=HEAD"
	who = shortlog --summary --numbered --email
	delm = "!git branch --merged | grep -v '\\*\\|+' | xargs -n 1 git branch -d; git remote -v update -p" # delete branches merged into master
	who-refs = !"git shortlog --summary --numbered --email --all --no-merges"

[core]
	excludesFile = ~/.gitignore
[color "branch"]
	current = green reverse
	remote = red bold
[color "diff"]
	# https://git-scm.com/docs/git-config
	old = red
	new = green
	meta = blue
	frag = cyan
[color "status"]
	untracked = red bold
[diff]
	renames = copies
[user]
	name = Christopher Hoelter
